body {
  margin: 0;
  min-height: 100%;
  background: url("../img/back.png");
  background-position: center auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  position: relative;
  left: 50%;
  margin-left: -40px;
  margin-top: 10px;
  max-height: 80px;
  max-width: 80px;
}

.container {
  position: absolute;
  top: 45%;
  width: 100%;
}

.engwelcome {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.boswelcome {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.engchoose {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.boschoose {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.imgsel {
  float: left;
  width: 50%;
}

.engflagimg {
  position: relative;
  left: 50%;
  width: 200px;
  height: 100px;
  margin-left: -100px;
}

.bosflagimg {
  position: relative;
  left: 50%;
  width: 200px;
  height: 100px;
  margin-left: -100px;
}

@media screen and (min-width:411px) {
  .smallscreen {
    display: none;
  }
}

@media screen and (max-width:410px) and (min-width:320px) {
  .engflagimg {
    width: 150px;
    height: 75px;
    margin-left: -75px;
  }

  .bosflagimg {
    width: 150px;
    height: 75px;
    margin-left: -75px;
  }

  .smallscreen {
    display: none;
  }
}
@media screen and (max-width:319px) {
  .container {
    display: none;
  }
}
